.container {
    max-width: 1200px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.recherche {
    width: 590px;
    background-color: #f5f6f7;
    border: none;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 16px;
    height: 37px;
    outline: none;
}
.tri {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
header img {
    height: 40px;
}
.BcgImg {
    background-image: url("https://static.vinted.com/assets/seller-promotion/gender_test/a/banner-wide-7403f719caac875cfeea61593da7fc7e7320c126193b4ff654e4397f54d430ae.jpg");
    background-size:"cover";
    background-position: center;
    height: 628px;
}
.inBcgImg {
    max-width: 1200px;
    margin: auto;
    padding-top: 150px;
}
.inBcgImg > div {
    width: 332px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.offres {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.offer  {
    padding: 20px 0px;
    width: 230px;
}
a {
        text-decoration: none;
        color: inherit;
}
.offerName {
    height: 30px;
    padding: 20px 0;
}
.offer img {
    width: 230px;
    height: 428px;
    object-fit: cover;
}
.pageOffer {
    background-color: #ebedee;
    height: calc(100vh - 60px);
}
.offerContainer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.imgOffer img{
    width: 590px;
    height: 605px;
    object-fit: cover;
}
.offerInfo {
    width: 320px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offerDescription p{
    padding: 2px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.offerDescription span {
    flex: 1 ;
    font-size: 14px;
    text-transform: uppercase;
}
.offerTop > p{
 padding-bottom: 20px;
}
.key {
    text-align: left;
    font-weight:300;
    color: #999;
} 
.value {
    text-align: left;
    font-weight:300;
}
.offerBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.offerBottom p:nth-child(2) {
    color: #666;;
}

.achetez {
    background: #09b1ba;
    border: 1px solid #09b1ba;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin-top: 32px;
    padding: 0 16px;
    width: 100%;
}
.owner {
    display: flex;
    align-items: center;
}
.owner img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
    width: 50px;
}

header button {
    border: 1px solid #2cb1ba;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 12px;
    height: 30px;
    outline: none;
    width: 115px;
    color: white;
    background-color: #2cb1ba;
}
.identification {
    display: flex;
    gap: 20px;
}
.identification button {
    color: #2cb1ba;
    background-color: white;
}

.itemBloc p {
    font-size: 37px;
}
.itemBloc button {
    background-color: #2baeb7;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    height: 45px;
    margin-top: 32px;
    padding: 0 14px;
    width: 187px;
}
main {
    position: relative;
}
.modalSing {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalSing > div {
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.closeModal {
    position: absolute;
    top: 5px;
    left: 5px;
}
.modalSing form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}
.inp {
    border: none; 
    padding: 5px;
    height: 20px;
}
.inp input {
    border: none; 
    border-bottom: 1px solid #000; 
    outline: none; 
    padding: 5px;
    height: 20px;
    width: 300px;
}
.singChek {
    padding-top: 40px;
}
.singButton {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
}
.error {
    color: red;
    margin-top: 10px;
  }



  .modalLogin {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalLogin > div {
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.modalLogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.loginButton {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
}
.deconexion {
    background-color: red;
    border: red
}




.switch-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .sort-text {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #09b1ba;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #09b1ba;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    
  }

  .publish > div{
    display: flex;
    flex-direction: column;
    background-color: #edecec;
    height: 100%;
    gap: 20px;
  }

 .publish div > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
 }
  .publish div > form > div {
    border-radius: 5px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    gap: 10px;
  }
 
  .publishTitle {
    height: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .publishTitle div{
    display: flex;
    flex-direction: column;
    padding: 60px 0px 0px 60px ;
    gap: 20px
  }
  .publishTitle div label{
    margin: 10px 0 ;

  }
  .publishTitle div input{
    border: none;
    border-bottom: 1px solid grey;
    background-color: #f7f7f7;
        margin: 10px 0 ;

  }
  .publishTitle div textarea {
    border: none;
    border-bottom: 1px solid grey;
    background-color: #f7f7f7;
    margin: 10px 0 ;

  }
  .descriptionPlace {
    height: 80px;
    width: 300px;
  }
.publishDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    align-items: center;
}
.publishDetail input {
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #f7f7f7;
    padding: 20px 0;
    margin: 10px 0 ;

}
.publishPrice {
    height: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px 0;
}
.publishPrice input {
    width: 50%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #f7f7f7;
    padding: 20px 0;
}
.publish div > form button{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
    margin-bottom: 30px;
}

.paymentPage{
    background-color: #bcbcbc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paymentBloc {
    background-color: white;
    width: 500px;
    border-radius: 15px;
}
.paymentBloc h3 {
    padding: 5px 10px;
}
.order {
    padding: 20px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgb(167, 167, 167);
}
.order p {
    display: flex;
    justify-content: space-between;
}
.totalOrder {
    padding: 20px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid rgb(167, 167, 167);
}
.totalOrder p {
    display: flex;
    justify-content: space-between;
}
.payment {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    gap: 20px;
}
.condition {
    font-size: 10px;
    color: #999;
}
.goToConnexion {
    font-size: 12px;
}
.goToHome {
    font-size: 12px;
    padding-bottom: 20px;
}
strong {
    font-weight: bolder;
    cursor: pointer;
}
#avatar {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.addAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
}

.confetis {
    height: 400px;
    width: 500px;
} 

.goToAccueil {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
}
.publishImg {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
.publishImg div {
    border: 3px dashed #09b1ba;
    border-radius: 10px;
    display: flex;
    align-items: center;  
    justify-content: center;  
    width: 500px;  
    height: 100px;  
    transition: border-color 0.3s ease;
    background-color: #e6f8f9;
}

.publishImg div:hover {
    border-color: #078e97;
}

.publishImg p {
    color: #555;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0;  
}

.publishImg input {
    display: none;
}

.publishTitle label {
border-bottom: 1px solid grey;
width: 500px;
}

.publishImg .image-loaded {
    background-color: #d1f1f2; 
    border-color: #09b1ba;
    border: 3px solid #09b1ba;

}
.payment button {
    border: 1px solid #2cb1ba;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 12px;
    height: 30px;
    outline: none;
    width: 100%;
    color: white;
    background-color: #2cb1ba;
    margin: 20px 0 
}
.recapOrder {
    font-size: 11px;
    color: #757575;
}
.paymentSucces{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.paymentSucces p {
    margin-top: 30px;
}
.paymentSucces img {
width: 100vw;
height: 100vh;
}  


/* Nouveau style pour la Dropzone */
.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #555;
    font-size: 16px;
    transition: border 0.3s ease;
  }
  
  .dropzone.image-loaded {
    border-color: #4CAF50;
    background-color: #e8f5e9;
  }
  
  .dropzone p {
    margin: 10px 0;
  }
  
  .dropzone p:last-child {
    font-size: 14px;
  }
  
  .dropzone section {
    width: 100%;
    height: 100%;
  }
  