.container {
    max-width: 1200px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header input {
    width: 590px;
    background-color: #f5f6f7;
    border: none;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 16px;
    height: 37px;
    outline: none;
}
header img {
    height: 40px;
}
.BcgImg {
    background-image: url("https://static.vinted.com/assets/seller-promotion/gender_test/a/banner-wide-7403f719caac875cfeea61593da7fc7e7320c126193b4ff654e4397f54d430ae.jpg");
    background-size:"cover";
    background-position: center;
    height: 628px;
}
.inBcgImg {
    max-width: 1200px;
    margin: auto;
    padding-top: 150px;
}
.inBcgImg > div {
    width: 332px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.offres {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.offer  {
    padding: 20px 0px;
    width: 230px;
}
a {
        text-decoration: none;
        color: inherit;
}
.offerName {
    height: 30px;
    padding: 20px 0;
}
.offer img {
    width: 230px;
    height: 428px;
    object-fit: cover;
}
.pageOffer {
    background-color: #ebedee;
    height: calc(100vh - 60px);
}
.offerContainer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.imgOffer img{
    width: 590px;
    height: 605px;
    object-fit: cover;
}
.offerInfo {
    width: 320px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offerDescription p{
    padding: 2px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.offerDescription span {
    flex: 1 ;
    font-size: 14px;
    text-transform: uppercase;
}
.offerTop > p{
 padding-bottom: 20px;
}
.key {
    text-align: left;
    font-weight:300;
    color: #999;
} 
.value {
    text-align: left;
    font-weight:300;
}
.offerBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.offerBottom p:nth-child(2) {
    color: #666;;
}

.achetez {
    background: #09b1ba;
    border: 1px solid #09b1ba;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin-top: 32px;
    padding: 0 16px;
    width: 100%;
}
.owner {
    display: flex;
    align-items: center;
}
.owner img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
    width: 50px;
}

header button {
    border: 1px solid #2cb1ba;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 12px;
    height: 30px;
    outline: none;
    width: 115px;
    color: white;
    background-color: #2cb1ba;
}
.identification {
    display: flex;
    gap: 20px;
}
.identification button {
    color: #2cb1ba;
    background-color: white;
}

.itemBloc p {
    font-size: 37px;
}
.itemBloc button {
    background-color: #2baeb7;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    height: 45px;
    margin-top: 32px;
    padding: 0 14px;
    width: 187px;
}
main {
    position: relative;
}
.modalSing {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalSing > div {
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.closeModal {
    position: absolute;
    top: 5px;
    left: 5px;
}
.modalSing form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}
.inp {
    border: none; 
    padding: 5px;
    height: 20px;
}
.inp input {
    border: none; 
    border-bottom: 1px solid #000; 
    outline: none; 
    padding: 5px;
    height: 20px;
    width: 300px;
}
.singChek {
    padding-top: 40px;
}
.singButton {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
}
.error {
    color: red;
    margin-top: 10px;
  }



  .modalLogin {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalLogin > div {
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.modalLogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.loginButton {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #09b1ba;
    border: #09b1ba;
    color: white;
}
.deconexion {
    background-color: red;
    border: red
}